#weather-page {
    display: grid;
    grid-template-rows: 60px auto 50px;
}
#place-search-bar {
    height: 100%;
    position: relative;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
}
#place-search-bar.active {
    background-color: var(--blue);
}
#place-search {
    width: calc(100% - 30px);
    margin: 15px 15px ;
    height: 30px;
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0px 16px;
    font-size: 17px;
    color: white;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
}
#place-search.active {
    outline: none;
    /*width: 100%;*/
    margin-left: 0;
    /*height: 100%;*/
    border-radius: 0;
}
#place-search-delete {
    color: white;
    position: absolute;
    right: 16px;
    top: 21px;
}
#weather-page-content {
    position: relative;
}